@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #2c3e50;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(20deg, #000000, #959799);
    border: 1px solid rgb(175, 160, 160);
    height: 300px;
    width: 600px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 3px 35px 5px rgb(0, 0, 0);
  }
  #mssg {
    color: #00ff00;
  }
  #failure {
    color: #ff0000;
  }
  #auto {
    color: #fff;
  }
  #para {
    color: aqua;
      border: 5px solid transparent;
      border-radius: 50%;
      padding: 5px;
      font-size: 25px;
      font-weight: bold;
      color: #22ffff;
      animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
      0% {
        border-left: 5px solid #1abc9c;
      }
      25% {
        border-left: 5px solid #1abc9c;
        border-bottom: 5px solid #1abc9c;
      }
      50% {
        border-left: 5px solid #1abc9c;
        border-bottom: 5px solid #1abc9c;
        border-right: 5px solid #1abc9c;
      }
      75% {
        border-left: 5px solid #1abc9c;
        border-bottom: 5px solid #1abc9c;
        border-right: 5px solid #1abc9c;
        border-top: 5px solid #1abc9c;
      }
    }
  